body{
    height: 200vh;
}

.parent{
    color: aliceblue;
    font-size: 2rem;
    height: 200px;
    background-color: rgb(221, 160, 221, .5);
    padding: 50px;
    text-align: center;
}

/* .child-1{
    background-color: rgb(30, 210, 30);
    height: 50px;
} */

.parent div:nth-child(1){
    background-color: rgb(30, 210, 30);
    height: 50px;
    
}
.parent div:nth-child(2){
    background-color: rgb(154, 11, 99);
    height: 50px;
    /* position: ; */
}
.parent div:nth-child(3){
    background-color: rgb(78, 30, 210);
    height: 50px;
}

